.boxFahrenheit {
    border: 3px solid #505050;
    border-radius: 40px;
    font-style: italic;
    
}
.boxCelsius{
    border: 3px solid #505050;
    border-radius: 40px;
    font-style: italic; 
}
